<%= $game.first_player.name %> attacked <%= $game.second_player.name %>
<br>
<%= $game.second_player.name %>: <%= $game.first_player.hp %>HP
<%= $game.current_turn.name %>'s turn  

<form action="/play">
  <input type="submit" value="Ok">
</form>