<h1><%= @game.last_player.player_name %> vs. <%= @game.first_player.player_name %></h1>
<h3><%= @game.first_player.player_name %>: <%= @game.first_player.hit_points  %> Hit points </h3>
<h4><%= @game.last_player.player_name %>: <%= @game.last_player.hit_points  %> Hit points </h4>

<form action="/play" method ="post">
<input type="submit" value ='switch'>
</form>
